<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd">


    <!--处理请求流程-->
    <!--<bean class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">-->
        <!--<property name="flowRegistry" ref="flowRegistry"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;处理器&ndash;&gt;-->
    <!--<bean class="org.springframework.webflow.mvc.portlet.FlowHandlerAdapter">-->
        <!--<property name="flowExecutor" ref="flowExecutor"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;流程执行器&ndash;&gt;-->
    <!--<flow:flow-executor id="flowExecutor"/>-->

    <!--&lt;!&ndash;流程注册表&ndash;&gt;-->
    <!--<flow:flow-registry id="flowRegistry" base-path="/WEB-INF/flows">-->
        <!--<flow:flow-location-pattern value="*-flow.xml"/>-->
    <!--</flow:flow-registry>-->

</beans>
